version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: DockerFile
    container_name: my-node20-app
    ports:
     - "3000:3000"

    volumes:
    - .:/app
    - /app/node_modules
    environment:
     - NODE_ENV=development 
    command: npm run dev